body {
    position: relative;
    width: 100%;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    background-image: url('/CPE327-ENVI/pic/home01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.box {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: white;
}

.boxdown {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border-top: 0.5mm solid white;
    background: #01BF92;
}

.nav-left {
    position: absolute;
    display: inline;
    padding-right: 10%;
    left: 5%;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-right {
    position: absolute;
    display: inline;
    right: 3%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 50px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #01BF92;
    text-decoration-line: none;
}

.btn1 {
    display: inline;
    background: #01BF92;
    border-radius: 30px;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    border: none;
}

.btn2 {
    border: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background: #01BF92;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 18px;
}

.btn:hover {
    text-decoration: none;
    background: #01BF85;
}

.btn2:hover {
    text-decoration: none;
    background: #01BF85;
}

.contain {
    margin: auto;
    padding-top: 4%;
    max-width: 65%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: #000; */
}

.extradetail {
    padding-top: 10%;
    padding-bottom: 5%;
}

.picdetail {
    width: 250px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.text1 {
    font-size: 50px;
}

.text2 {
    font-size: 50px;
    font-weight: 800;
    padding-left: 5px;
}

.text3 {
    font-size: 50px;
    color: #01BF85;
    font-weight: 800;
    padding-left: 5px;
}


/* 
.button {
    background-color: #01BF92;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: Muli;
    font-size: 20px;
    border-radius: 20px;
}

.button1 {
    width: 110px;
}

.button2 {
    width: 80px;
}

.button3 {
    width: 180px;
}

.campaignText {
    position: absolute;
    width: 800px;
    height: 61.3px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 300;
    font-size: 65px;
    line-height: 82px;
}

.latest {
    top: calc(50% - 61.3px/2 + 64.65px);
    left: calc(50% - 529.85px/2 + 13.85px);
}

.popular {
    top: calc(49% - 62.34px/2 + 620.97px);
    left: calc(50% - 574.22px/2 + 13.8px);
}

.campaignDetail {
    position: absolute;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
}

.cheader {
    font-size: 30px;
    line-height: 45px;
}

.cdetail {
    font-size: 20px;
    line-height: 25px;
} */