.textjoin {
    font-size: 80px;
}

.textcom {
    font-size: 80px;
    color:#01BF92 ;
}

.textenj {
    font-size: 60px;
    color: rgb(104, 104, 104);
}

.contain3 { 
    margin: auto;
    padding-top: 2%;
    max-width: 80%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: #000; */
    display: flex;
}

.boxjoin {
    position: relative;
    width: 1920px;
    height: 950px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    margin: 5px;
}

.piccor {
    width: 200px;
    height: 200px;
    padding: 5px;
}

.boxaccount {
    position: absolute;
    width: 270px;
    height: 53px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10px;
    border: 0.15mm solid rgb(0, 0, 0);
}

.text11 {
    font-size: 20px;
}