.textjoin {
    font-size: 80px;
}

.textcom {
    font-size: 80px;
    color:#01BF92 ;
}

.textenj {
    font-size: 60px;
}

.contain3 {
    margin: auto;
    padding-top: 2%;
    max-width: 80%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: #000; */
    display: flex;
}

.boxjoin {
    position: relative;
    width: 1920px;
    height: 950px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    margin: 5px;
}

.piccor {
    width: 200px;
    height: 200px;
    padding: 5px;
}