.textjoin {
    font-size: 60px;
    font-weight: bold;
}

.textcom {
    font-size: 60px;
    color: #01BF92;
    font-weight: bold;
}

.textenj {
    font-size: 40px;
    color: rgb(104, 104, 104);
}

.textor {
    font-size: 30px;
    color: rgb(104, 104, 104);
}

.contain3 {
    margin: auto;
    margin-top: 3%;
    position: relative;
    max-width: 65%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: rgb(104, 104, 104); */
}

.piccor {
    width: 200px;
    height: 200px;
    padding: 5px;
}

.boxaccount {
    position: relative;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: auto;
    border-radius: 10px;
    border: 0.15mm solid rgb(0, 0, 0);
    display: flex;
}

.line {
    position: absolute;
    width: 500px;
    height: 0px;
    left: 300px;
    top: 280px;
    color: black;
}