@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body,
html {
    font-family: 'Muli', sans-serif;
    background-image: url('./pic/home01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 0.1mm solid #cccccc;
    background: white;
}

img {
    width: 75px;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    align-items: center;
    padding: 15px;
    padding-top: 2%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.bg-image {
    position: relative;
    /* background-color: rgba(0,0,0,0.5); */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.form-box {
    width: 100%;
    position: relative;
    background: white;
    margin: auto;
    max-width: 700px;
    height: 460px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0px rgb(255, 255, 255), rgb(255, 255, 255);
    z-index: 2;
    /* background: #F8F8F8; */
    border: #333333;
    border-width: 5px;
}

form#login-form {
    overflow: hidden;
    position: relative;
    padding: 40px;
}

.head {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background: #F8F8F8; */
}

.text-head {
    color: #01BF92;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-control {
    border-radius: 10px;
    margin-top: 0;
    margin: auto;
    padding: 20px;
    width: 100%;
    color: #333333;
    align-items: center;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

input.btn[type="submit"] {
    background: #01BF92;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    outline: none;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    transition: all 0.15s ease-in-out;
    align-items: center;
}

input.btn[type="submit"]:hover {
    background: #00daa2;
}

.text-p {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0;
}

.text-p-2 {
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    margin: 10px 0;
}

.text-p a {
    color: #01BF92;
}

.boxdown {
    position: fixed;
    color: white;
    text-align: right;
    padding-right: 2%;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border-top: 0.5mm solid white;
    background: #01BF92;
    z-index: 2;
}

@media(maxwidth:480px) {
    form#login-form {
        width: 90%;
        margin: 30px auto;
    }
}