#campaignpic {
    width: 135px;
    border-radius: 30px;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
}

#campaignpicinrate {
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 20%;
    width: 550px;
    height: 350px;
    object-fit: scale-down;
}

.textdetailcampaign {
    font-size: 25px;
    font-weight: 800;
}

.ratetexttitle {
    position: relative;
    font-size: 60px;
    font-weight: 800;
    color: #01bf92;
}

.ratetexthead {
    position: relative;
    font-size: 80px;
    font-weight: 800;
}

.ratetextred {
    left: 100%;
    font-size: 20px;
    color: #FF0000;
    font-weight: 500;
}

.ratetext {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.ratebutt {
    /* display: inline; */
    background: #01BF92;
    border-radius: 30px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    transition: transform .2s;
    overflow: hidden;
    margin-left: 320px;
    border: none;
}

.ratebutt:hover {
    transform: scale(1.12);
}

.ratebutt2 {
    font-size: 25px;
    font-weight: 600;
    background: #FFFF00;
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 10px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
}

.boxrate {
    margin-top: 200px;
    position: relative;
    width: 100%;
    height: 50%;
}

.boxrate2 {
    position: relative;
    width: 100%;
    height: 175px;
    align-items: center;
}

.boxrate3 {
    width: fit-content;
    align-items: center;
    text-align: center;
    /* background: #000; */
    margin: auto;
}

.boxrate5 {
    /* position: relative; */
    padding-top: 25%;
    width: fit-content;
    align-items: center;
    text-align: center;
    /* background: #000; */
    margin: auto;
}

.rate-left {
    margin-top: 25px;
    position: absolute;
    border-radius: 50px;
    width: 75%;
    background: white;
    left: 12%;
    height: 250px;
    border: 1.5mm solid #01BF92;
}

.rate-right {
    margin-top: 40px;
    position: absolute;
    border-radius: 50px;
    left: 35%;
    height: 250px;
}

.nav-right-rate {
    position: fixed;
    width: 40%;
    height: fit-content;
    left: 50%;
    text-align: left;
    margin-top: -120px;
    /* background: #000; */
    /* z-index: 4; */
    /* overflow: hidden; */
}

.nav1 {
    position: absolute;
    left: 20%;
    margin-top: 260px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    background: rgb(255, 196, 0);
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    transition: transform .2s;
}

.nav2 {
    position: absolute;
    left: 33.5%;
    margin-top: 260px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    background: rgb(238, 255, 0);
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    transition: transform .2s;
}

.nav3 {
    position: absolute;
    left: 47%;
    margin-top: 260px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    background: rgb(166, 255, 0);
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    transition: transform .2s;
}

.nav4 {
    position: absolute;
    margin-top: 260px;
    left: 60.5%;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    background: rgb(102, 255, 0);
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    transition: transform .2s;
}

.nav5 {
    position: absolute;
    left: 74%;
    margin-top: 260px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    background: rgb(0, 255, 119);
    border-radius: 25px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: #000000;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    transition: transform .2s;
}

.nav1:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.nav2:hover {
    text-decoration: none;
    transform: scale(1.3);
}

.nav3:hover {
    text-decoration: none;
    transform: scale(1.5);
}

.nav4:hover {
    text-decoration: none;
    transform: scale(1.7);
}

.nav5:hover {
    text-decoration: none;
    transform: scale(1.9);
}

.ssleft {
    position: absolute;
    left: 18%;
    width: auto;
}

.ssmid {
    align-items: center;
    margin-top: 35px;
    width: auto;
}

.ssright {
    position: absolute;
    left: 51%;
    width: auto;
}

.headrate {
    position: relative;
    align-items: center;
}

.successheader {
    font-size: 100px;
    font-weight: bold;
    color: #01bf92;
}

.successbody {
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.successbody2 {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.backbutt {
    position: absolute;
    display: inline;
    left: 50%;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    background: white;
    border-radius: 40px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1.0mm solid #01BF92;
    color: #01BF92;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s;
}

.backbutt:hover {
    transform: scale(1.12);
    text-decoration: none;
}

.ratetextarea {
    height: 175px;
    margin-top: 430px;
    left: 20%;
    width: 60%;
    position: relative;
    align-items: center;
    text-align: center;
}

.subbutt {
    margin-bottom: 400px;
    margin-left: 45%;
    background: #01BF92;
    border-radius: 30px;
    width: 25%;
    margin-top: 1%;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    border: none;
    transition: transform .2s;
}

.subbutt:hover {
    text-decoration: none;
    background: #00daa2;
}

.btn5 {
    margin: 5px;
    border: none;
    width: 150px;
    height: 8%;
    background: #01BF92;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 25px;
    transition: transform .2s;
}

.btn5:hover {
    text-decoration: none;
    transform: scale(1.1);
    background: #00daa2;
}

.btn6 {
    margin: 5px;
    border: none;
    width: 100px;
    height: 8%;
    background: white;
    border-radius: 30px;
    border: 0.15mm solid #01BF92;
    color: #01906e;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 15px;
    transition: transform .2s;
}

.btn6:hover {
    text-decoration: none;
    background: rgb(243, 251, 250);
}

.textjoin {
    font-size: 60px;
    font-weight: bold;
}

.textcom {
    font-size: 60px;
    color: #01BF92;
    font-weight: bold;
}

.profiledetail {
    /* background: #000; */
    margin: auto;
}

.contain7 {
    margin: auto;
    padding-top: 160px;
    padding-bottom: 50px;
    position: relative;
    max-width: 65%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: rgb(104, 104, 104); */
}