@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    position: relative;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-image: url('../pic/home01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.box {
    position: fixed;
    width: 100%;
    height: 100px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: white;
    z-index: 3;
}

.boxdown {
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border-top: 0.5mm solid white;
    background: #01BF92;
    z-index: 3;
}

.nav-left {
    position: absolute;
    display: inline;
    padding-right: 10%;
    left: 5%;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#text {
    display: inline;
    padding-right: 25px;
}

.nav-right {
    position: absolute;
    display: inline;
    right: 3%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 50px;
}

.btn1 {
    display: inline;
    background: #01BF92;
    border-radius: 30px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    border: none;
    transition: transform .2s;
}

.btn1:hover {
    text-decoration: none;
    background: #00daa2;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #01BF92;
    text-decoration-line: none;
}