.contain {
    margin: auto;
    padding-top: 110px;
    padding-bottom: 50px;
    max-width: 90%;
    vertical-align: center;
    /* background: #000; */
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.campaigndetailtextbox {
    margin-top: 10px;
    margin: auto;
    max-width: 85%;
    text-align: left;
    vertical-align: center;
    /* background: #000; */
}

.campaigndetailbutton {
    display: flex;
    margin-top: 10px;
    margin: auto;
    max-width: 85%;
    text-align: left;
    vertical-align: center;
    /* background: #cccccc; */
}

.nav-left2 {
    left: 0px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background: black; */
}

.nav-left3 {
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
    height: 85px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background: black; */
}

.btn2 {
    margin: 10px;
    margin-bottom: 10px;
    border: none;
    width: 130;
    color: #01906e;
    height: 40;
    background: white;
    border: 0.15mm solid #01BF92;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 17px;
    transition: transform .2s;
}

.btn2:hover {
    text-decoration: none;
    transform: scale(1.1);
    background: rgb(243, 251, 250);
}

.boxview {
    position: relative;
    width: 350px;
    /* margin: auto; */
    margin: 1%;
    max-height: 450px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: #F9F9F9;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(185, 185, 185);
}

#pic {
    border-radius: 15px;
    width: 250px;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.text-campaignname {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-campaignsub {
    font-size: 20px;
}

.btncannotclick {
    margin: 10px;
    margin-bottom: 10px;
    border: none;
    width: 130;
    height: 40;
    background: #01906e;
    border-radius: 30px;
    color: white;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 17px;
}


/* ########################  VIEW DETAI L############################### */

.contain2 {
    margin: auto;
    padding-top: 110px;
    padding-bottom: 50px;
    max-width: 90%;
    height: fit-content;
    align-items: center;
    text-align: center;
    vertical-align: center;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.boxview2 {
    margin: auto;
    position: relative;
    padding-top: 20px;
    border-radius: 15px;
    height: 800px;
    width: 48%;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: #F9F9F9;
    align-items: center;
    border: 1mm solid #01906e;
}

.text-campaigndetailhead {
    font-size: 30px;
    font-weight: bold;
}

.picicon {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.locationcontrol {
    margin: auto;
    background: black;
    height: 290px;
    width: 100%;
}

.picpreviewcontrol {
    margin: auto;
    /* background: black; */
    align-items: center;
    text-align: center;
    height: 290px;
    width: 100%;
    /* padding: 10%; */
}

.pic2 {
    width: 40px;
    height: 40px;
    padding: 5px;
}

#miniprofilepic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0.5mm solid #cccccc;
    object-fit: cover;
}

#pic3 {
    height: 250px;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

.btn3 {
    margin: 5px;
    border: none;
    width: 50%;
    height: 5%;
    background: white;
    border: 0.5mm solid #01BF92;
    border-radius: 30px;
    color: #01906e;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 20px;
    transition: transform .2s;
}

.btn3cannotclick {
    margin: 5px;
    border: none;
    width: 50%;
    height: 5%;
    background: #01906e;
    border-radius: 30px;
    color: white;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 20px;
    transition: transform .2s;
}

.btn3:hover {
    text-decoration: none;
    transform: scale(1.1);
    background: rgb(243, 251, 250);
}

.btn4 {
    margin: 5px;
    border: none;
    width: 50%;
    height: 5%;
    background: rgb(0, 168, 98);
    border-radius: 30px;
    color: #fbfbfb;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 20px;
    transition: transform .2s;
}

.btn4:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.btn5 {
    margin: 5px;
    border: none;
    width: 50%;
    height: 5%;
    background: rgb(221, 18, 0);
    border-radius: 30px;
    color: #fbfbfb;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: center;
    font-size: 20px;
    transition: transform .2s;
}

.btn5:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.btnnobtn {
    border: none;
    background: none;
    border: none;
    color: #01906e;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    align-items: left;
    font-size: 20px;
    transition: transform .2s;
}

.picMap {
    position: relative;
    width: 100%;
    height: 290px;
    padding: 1px;
}

.picdetail {
    display: flex;
}

.extradetail {
    padding-top: 5%;
    padding-bottom: 5%;
}

.text2 {
    font-size: 20px;
}

.text4 {
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.text5 {
    font-size: 35px;
    color: rgb(151, 225, 228);
}

.nav-bot {
    position: absolute;
    bottom: auto;
    padding-left: 5%;
}

.boxpic {
    position: absolute;
    width: 1920;
    height: 430px;
    border-bottom: 0.1mm solid #cccccc;
    font-size: 17px;
    background: #01BF92;
    margin: 5px;
}