body {
    position: relative;
    width: 1920px;
    height: 2000px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    background-image: url('pic/home01.jpg');
}

.button {
    background-color: #01BF92;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: Muli;
    font-size: 20px;
    border-radius: 20px;
  }
  .button1 {width: 110px;}
  .button2 {width: 80px;}
  .button3 {width: 180px;}


